@font-face {
    font-family: "Monda";
    src: url("/css/font/Monda.ttf");
}

body {
    text-align: left;
    font-weight: normal;
    color: white;
    font-family: "Monda", "Tahoma", "Microsoft YaHei", "微软雅黑", sans-serif;
    font-size: 1.2em;
    /* font-size: calc(8px + 0.34vw); */
    /* font-family: "Arial Unicode MS", "Lucida Sans Unicode", "DejaVu Sans", sans-serif; */
    font-smoothing: antialiased;
    padding: 0px;
    margin: 0
}

#bg {
    width: 100%;
    height: 100%;
    position: fixed;
    margin: 0px;
    z-index: -2;
    background-size: cover;
}

#bgmask {
    width: 100%;
    height: 100%;
    position: fixed;
    margin: 0px;
    z-index: -1;
    background-image: url("/pic/deco/blackmask.png");
}

marquee a.scrollingtext {
    font-size: 0.8em;
}

hr {
    padding: 0;
    border-top: none;
    border-bottom: white 1px solid;
}

.inpt {
    color: #333377
}

.big {
    font-size: 14pt;
    background: none;
}

.uploadlink {
    padding: 0px;
    float: right;
    height: 14pt;
    border-bottom: white 1px solid;
}

.lil {
    font-size: 1.2em;
    width: 100%;
    background: none;
    color: white;
    border-bottom: white 1px solid;
    height: 2.1em;
}

b.uploadbutton {
    background-color: white;
    color: #333333;
    height: 1.8em;
    display: inline-table;
}

.searchbox {
    padding: 0;
    border: 0;
    height: 2.4em;
    background-color: #F5FDF6
}

.searchbutton {
    /* padding: 0, 1, 0, 1; */
    border: 0;
    height: 2.4em;
    width: 2.4em;
    position: absolute;
    vertical-align: -0.8px;
}

.nofile {
    margin: auto;
    font-size: 1.2em;
    text-align: center;
}

/*  */
.inbtn {
    padding: 0px;
    /* font-size: 12pt;
    color: #333377 */
}

.btn {
    padding: 1px;
    float: right
}

table {
    white-space: nowrap;
}

a {
    text-decoration: none;
    font-size: 14pt;
    color: white;
    font-weight: normal;
    transition: all 0.5s;
}

a:visited {
    color: white;
}

a:hover {
    color: #333333;
    background-color: white;
    text-decoration: none;
}

.del {
    background: transparent;
    border: none;
    color: #900;
    font-size: 12pt;
    cursor: pointer
}

#files {
    background: none;
    border: 0 solid gray;
    width: 75%;
    margin: auto;
    /* text-align: center; */

}

tr.trhead {
    background-color: white;
    color: #333333;
    font-weight: bold;
}

tr.trhead a {
    color: #333333;
    font-weight: bold;
}

tr.trhead .l {
    text-align: left;
    width: 75%;
}

tr.trhead .m {
    text-align: center;
}

tr.trhead .r {
    text-align: center;
}

td.modified {
    font-size: 0.9em;
}

td.size {
    font-size: 0.9em;
}
